.container {
  display: flex;
  flex-direction: column;
  gap: var(--gap-s);
}

.heading {
  color: var(--color-primary-inverted);
  font: var(--font-l);
}

.text {
  color: var(--color-secondary-inverted);
  font: var(--font-m);
}

.primary {
  color: var(--color-primary);
}

.error {
  .heading {
    color: var(--color-red-light);
  }

  .text {
    color: var(--color-red-dark);
  }
}

.left {
  text-align: left;
}

.center {
  text-align: center;
}

.right {
  text-align: right;
}
