.container {
  display: flex;

  flex-direction: column;
  gap: 20px;

  height: 100%;
}

.avatar {
  align-self: center;
}

.views,
.date {
  display: flex;
  gap: var(--gap-s);
  align-items: center;
}

.skeleton {
  display: flex;

  flex-direction: column;
  gap: 20px;
}
