.dialog {
  position: relative;
  z-index: var(--z-index-modal);
}

.backdrop {
  position: fixed;
  inset: 0;

  background: var(--color-backdrop);
}

.panel-wrapper {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 100vw;
}

.panel {
  position: relative;

  width: 100%;
  max-width: var(--width-modal);

  margin: 0 auto;
  padding: var(--padding-s);

  color: var(--color-primary-inverted);

  background: var(--color-bg-inverted);
  border-radius: var(--border-radius-s);
}

.title {
  margin-bottom: 8px;
}

.description {
  margin-bottom: 16px;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
}
