.app {
  font: var(--font-m);

  background: var(--color-bg);
  color: var(--color-primary);

  min-height: 100vh;
}

.app__content {
  display: flex;
  
  
}

.page-wrapper {
  flex-grow: 1;

  padding: var(--padding-m);
}

.hidden {
  display: none;
  visibility: hidden;
}
