.app {
  min-height: 100vh;

  color: var(--color-primary);
  font: var(--font-m);

  background: var(--color-bg);
}

.app__content {
  display: flex;
  

}

.page-wrapper {
  flex-grow: 1;
  padding: var(--padding-m);
}

.hidden {
  display: none;

  visibility: hidden;
}
