.container {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: flex-end;

  width: var(--width-sidebar);
  height: calc(100vh - var(--height-navbar));
  padding: var(--padding-m);

  background: var(--color-bg-inverted);

  transition: width 300ms;
}

.switchers {
  display: flex;
  gap: var(--gap-l);
  justify-content: center;
}

.collapsed {
  width: var(--width-sidebar-collapsed);

  .switchers {
    flex-direction: column;
    align-items: center;
  }
}

.button {
  position: absolute;
  right: -40px;
  bottom: 40px;
}
