.container {
  position: relative;

  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  justify-content: space-between;
  width: var(--width-sidebar);
  height: calc(100vh - var(--height-navbar));
  padding: var(--padding-m);

  background: var(--color-bg-inverted);

  transition: width 300ms;
}

.collapsed {
  width: var(--width-sidebar-collapsed);
}

.switchers {
  display: flex;
  gap: var(--gap-l);
  justify-content: center;
}
