.item {
  display: flex;
  gap: var(--gap-m);
  align-items: center;
}

.text {
  opacity: 1;

  transition: all 150ms;
}

.icon {
  width: 20px;
  height: 20px;

  fill: var(--color-primary-inverted);
}

.collapsed {
  gap: 0;
  justify-content: center;

  .text {
    width: 0;

    opacity: 0;

    transition: 0.2s opacity;
  }
}
