.container {
  display: flex;
  gap: 12px;
  align-items: center;
}

.label {
  color: var(--color-primary-inverted);
  font-size: var(--font-size-m);
  line-height: var(--font-line-m);
}

.select {
  padding: 8px;

  color: var(--color-primary);
  font-size: var(--font-size-s);
  line-height: var(--font-line-s);

  background-color: var(--color-bg);
  border: 1.5px solid var(--color-secondary);
  outline: none;

  &:focus,
  &:focus-visible,
  &:focus-within {
    border: 1.5px solid var(--color-primary);
  }
}

.option {
  color: var(--inverted-primary-color);

  background: var(--inverted-bg-color);
}
