.app-dark-theme {
  --color-bg: #090949;
  --color-bg-inverted: #e8e8ea;
  --color-primary: #04ff04;
  --color-primary-inverted: #0452ff;
  --color-secondary: #049604;
  --color-secondary-inverted: #0232c2;

  // skeleton
  --color-skeleton: #1515ad;
  --shadow-skeleton: #2b2be8;
}
