.app-light-theme {
  --color-bg: #e8e8ea;
  --color-bg-inverted: #090949;
  --color-primary: #0452ff;
  --color-primary-inverted: #04ff04;
  --color-secondary: #0232c2;
  --color-secondary-inverted: #049604;

  // skeleton
  --color-skeleton: #fff;
  --shadow-skeleton: rgb(0 0 0 / 20%);
}
