.container {
  padding: var(--padding-m);

  border: 1px solid var(--color-primary);
}

.top {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input {
  flex-grow: 1;
}

.error {
  margin-top: var(--gap-s);

  color: var(--color-red-light);
}
